<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matchesproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchesProject">
        <activity android:name=".AddTransfer"></activity>
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AdminLogin" />
        <activity
            android:name=".Transfere_ListView"
            android:exported="false" />
        <activity
            android:name=".TransferActivity"
            android:exported="false" />
        <activity android:name=".premier_league" />
        <activity android:name=".laliga_league" />
        <activity android:name=".egypt_league" />
        <activity android:name=".uefa_champ" />
        <activity android:name=".addPlayer" />
        <activity
            android:name=".ViewPlayers"
            android:exported="false" />
        <activity android:name=".addMatch" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>